h1, h2 {
  font-family: Lato;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 30px;
}
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  border-radius: 30px;
}
.form-inline button:hover {
  background-color: royalblue;
}
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
body{
  /* background-image: url(https://images.pexels.com/photos/723240/pexels-photo-723240.jpeg?cs=srgb&dl=pexels-anugrah-lohiya-723240.jpg&fm=jpg); */
  background-size: 1200px;
}
.column {
  float: left;
  width: 25%;
}
.header{
  margin-top: 80px;
  text-align: center;
  font-family: Arial Narrow Bold;
  font-size: 20;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  padding-right: 100px;
}

.container{
  margin-top: 100px;
  /* background-image: url(https://images.pexels.com/photos/1309644/pexels-photo-1309644.jpeg?cs=srgb&dl=pexels-sourav-mishra-1309644.jpg&fm=jpg);
  background-size: auto; */
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}